{% extends 'base.html' %}
{% load poll_extras %}
{% load cache %}
{% load humanize %}
{% block mainBlock %}
    <div>
        {% autoescape off %}
            {% cache 10 time %}
                {{ world|cut2:'周超' }} 时间：{{ time }}
            {% endcache %}
            <p>{{ time }}</p>
        {% endautoescape %}
        {#        {% current_time2 "%Y‐%M‐%d" %}#}
        {% test_tag %}
        {% current_time2 %Y-%M %}

        {{ 1000000|intcomma }}
    </div>
    <div>
        {% for item in list %}
            <li>{{ forloop.revcounter }}</li>
            <li>{{ item.name }} {{ item.vote_count }}</li>
        {% endfor %}

    </div>
{% endblock %}